<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/mealplans/new.css">
<%- include('../partials/nav') %>

<main>
  <div id="newMeaslplan">
  <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
      <div id="createMealplan">
        <p>First specify a week you would like to plan</p>
        <form action="/mealplans" method="POST">
          <button type="submit">Add Mealplan</button>
        </form>
      </div>
    <% } else{ %>
      <h1>You must be Logged in to add mealplans!</h1>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
