

img {
  width: 76px;
}

.userProfileIndex {
  width: 400px;
  background-color: blanchedalmond;
  margin: 15px;
  border-radius: 8px;
  padding: 10px;
}

#profileShowViewButtons{
  display: flex;
}
p {
  line-height:15px;
}

a {
  text-decoration: none;
  color: black;
}