img {
  width: 76px;
}

p {
  line-height: 15px;
}

a {
  text-decoration: none;
  color: black;
}

#topSpaceBuffer{
  height: 45px;
}

#indexContainer{
  display: flex;
  justify-content: center;
  align-content: center;
}

.userProfileIndex {
  display: flex;
  flex-direction: row;
  width: 550px;
  height: auto;
  margin: 17px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(253, 253, 253, 0.8);
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  font-size: 1.5em;
}

.card-img-top {
  width: 150px;
  float: left;
  margin: 25px;
  padding: 4px;
  border: 2px solid wheat;
  border-radius: 9px;
}

@media only screen and (max-width: 560px) {
  .userProfileIndex{
    width: 450px;
  }
}

@media only screen and (max-width: 476px) {
  .userProfileIndex{
    width: 410px;
  }
}

@media only screen and (max-width: 420px) {
  .userProfileIndex{
    width: 360px;
    font-size: 1.1rem;
  }
}