


<main>
  <h1><%= title %></h1>
    
      <div id="recipesIndexView">
        <% ingredients.forEach(ingredient =>{ %>
          <h2><%=ingredient.itemName%></h2>
      </div>
          <%})%>
      </div>
</main>


