<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/recipes/new.css">
<%- include('../partials/nav') %>

<main>
  <div id="newRecipe">
  <h1><%= title %></h1>
    <% if (user?.profile._id) { %>
      <div id="createRecipe">
        <form action="/recipes" method="POST">
          <label>Recipe Title:
            <input type="text" name="name" placeholder="Recipe Name" required>
          </label>
          <label>Preperation Time: 
            <input type="number" name="prepTime">
          </label>
          <label>Cooking Time:
            <input type="number" name="cookTime" required>
          </label>
          <label>Cooking Temperature: 
            <input type="number" name="temp"  id="">
          </label>
          <label>Number of portions: 
            <input type="number" name="yield" min=1 required>
          </label>
          <br/>
          <div id="ingredienList">
            <input type="text" name="ingredient1">
            <input type="text" name="ingredient2">
            <input type="text" name="ingredient3">
            <input type="text" name="ingredient4">
            <input type="text" name="ingredient5">
            <input type="text" name="ingredient6">
            <input type="text" name="ingredient7">
            <input type="text" name="ingredient8">
            <input type="text" name="ingredient9">
            <input type="text" name="ingredient10">
            <input type="text" name="ingredient11">
            <input type="text" name="ingredient12">
            <input type="text" name="ingredient13">
            <input type="text" name="ingredient14">
            <input type="text" name="ingredient15">
          </div>
          <label>Preperation Instructions: 
            <textarea name="instructions" cols="50" rows="15" required spellcheck="true"></textarea>
          </label>
          <button type="submit">Add Recipe</button>
        </form>
      </div>
    <% } else{ %>
      <h1>You must be Logged in to add recipes!</h1>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
