
h2{
  margin:3px 0 0 0;
}

img{ 
  width: 60px;
}

p {
  line-height:15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color:rgba(71, 71, 71, 0.8)
}

p {
  text-align: justify ;
}

#recipePic {
  float: right;
  margin: 1px;
  padding: 2px;
  background-color: ivory;
  box-shadow: 0 0 2px  lightslategrey;
  border-radius: 4px;
  width: 50px;
}

#recipesIndexView {
  display:flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  background-color: rgba(253, 253, 253, .8);;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 25px;
}

#recipeIndexCard:hover {
  background-color: rgba(240, 240, 240, 0.986);
}

#recipeIndexCard {
  width: 250px;
  height: 150px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 5px 5px rgba(0,0,0,0.23);
  border-radius: 4px;
  padding: 10px;
  overflow:hidden;
  background-color: rgba(255, 240, 217, 0.61);
}
