p {
  line-height: 15px;
}

a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

select {
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 130px;
    position: relative;
    z-index: 10;
    font-size: 1em;
    color: inherit;
}

option {
  color: black;
}


textarea {
  font-size: 1.5em;
  resize: none;
  border-radius: 5px;
  width: 500px;
}

#mealplanShowView {
  /* min-width: 550px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 95%;
  height: auto;
  margin: 7px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
  padding: 15px;
  overflow: hidden;
  background-color: rgba(253, 253, 253, 0.8);
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  font-size: 1.5em;
}

.mealplanTable table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#wide {
  width: 90%;
}

#narrow {
  display: none;
}

.mealplanTable td,
.mealplanTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.mealplanTable td {
  width: auto;
}
.mealplanTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mealplanTable td:hover {
  background-color: rgb(68, 62, 62);
  color:#f2f2f2;
}

.mealplanTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d8c11;
  color: white;
}

@media only screen and (max-width: 847px) {
  #wide td,
  #wide th {
    border: 1px solid #ddd;
    padding: 2px;
  }
}

@media only screen and (max-width: 670px) {

  #mealplanShowView {
    width: 85%;
  }
  #wide {
    display: none;
  }
  #narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
  #narrow td,
  #narrow th {
    border: 1px solid #ddd;
    padding: 6px;
    width: auto;
  }
}
