
#createMealplan {
  width: 450px;
  height: auto;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  overflow:hidden;
  background-color: blanchedalmond;
}

p {
  line-height:15px;
}

a {
  text-decoration: none;
  color: black;
}