body {
  text-align: center;
}

p {
  line-height: 15px;
}

a {
  text-decoration: none;
  color: black;
}

form {
  text-align: center;
}

textarea {
  font-size: 1.5em;
  resize: none;
  border-radius: 5px;
  width: 500px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#please-rotate {
  display: none;
}

#mealplanShowView {
  visibility: visible;
  min-width: 550px;
  max-width: 75%;
  height: auto;
  margin: 7px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
  padding: 15px;
  overflow: hidden;
  background-color: rgba(253, 253, 253, 0.8);
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  font-size: 1.5em;
}

#mealplanTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#mealplanTable td,
#mealplanTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mealplanTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#mealplanTable td:hover {
  background-color: rgb(68, 62, 62);
}

#mealplanTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d8c11;
  color: white;
}

#mealplanComment {
  visibility: visible;
  width: 550px;
  margin: 7px;
  border-radius: 4px;
  padding: 13px;
  background-color: rgba(121, 102, 74, 0.8);
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  color: white;
  font-size: 1.5em;
}

#commentProfilePic {
  width: 25px;
  border-radius: 50%;
  border: 1px solid #ddd;
  vertical-align: middle;
}

#addMealplanComment {
  visibility: visible;
  width: 550px;
  height: auto;
  margin: 7px;
  border-radius: 4px;
  padding: 9px;
  background-color: rgba(97, 92, 85, 0.9);
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  color: white;
  font-size: 1.5em;
  resize: none;
  text-align: center;
}

#mealplanButtons {
  display: flex;
  margin: 5px;
  justify-content: center;
}

#commentatorInfo {
  margin-top: 13px;
  text-align: center;
}

@media only screen and (max-width: 560px) {
  .title {
    display: none;
  }

  #please-rotate {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    align-items: center;
    margin-top: 50%;
  }
  
  #please-rotate img {
    width: 200px;
    height: 200px;
  }

  #mealplanShowView {
    display: none;
  }

  #mealplanComment {
    display: none;
  }

  #addMealplanComment {
    display: none;
  }
}